@import url("https://svechinsky.github.io/roam-themes/cosmonaut.css");
:root {
  --color-primary: 255, 111, 0;
  --color-primary-contrast: #ffffff;
  --color-secondary: 191, 13, 211;

  --color-secondary-contrast: #ffffff;
}

/* Fix mermaid diagrams background */
div > span > div > svg{
  background: white;
}

.rm-saving-icon .rm-synced {
  background-color: green;
}
.rm-saving-icon .rm-saving-remote {
  background-color: orange;
}

.rm-page-ref-brackets {
  display: none;
}

